@import "@{templateCommon}/basekit-bootstrap.less";

body {
  background-color: @color-swatch1;
  margin: 0;
  padding: 0;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

blockquote {
    margin: 7px 0;
    padding: 0 30px;
    quotes: "\201C""\201D""\2018""\2019";
    font-family: @font-swatch5-font-family;
    font-size: @font-swatch5-font-size;
    font-weight: @font-swatch5-font-weight;
    line-height: @font-swatch5-line-height;
    color: @font-swatch5-color;
}

blockquote:before {
    font-family: georgia;
    color: @font-swatch5-color;
    content: open-quote;
    left: 0;
    font-size: 4em;
    line-height: .1em;
    margin-right: 10px;
    vertical-align: -.4em;
}

blockquote:after {
    font-family: georgia;
    color: @font-swatch5-color;
    content: close-quote;
    font-size: 4em;
    line-height: .1em;
    margin-left: 10px;
    vertical-align: -.4em;
}

/* ===============================
   CUSTOM CSS
   =============================== */

.main {
  padding: 40px 0;
}

/* DEFAULT PAGE TYPE */

.bk-pt-default header {
  border-bottom: 1px solid lighten(@color-swatch5,30%);
}

.bk-pt-default .extendednavigation ul li:hover > ul {
  border: 1px solid lighten(@color-swatch2,15%);
}

.bk-pt-default .widget.extendednavigation ul li:hover > ul li:first-child {
  border-top: none;
}



/* ===============================
   HEADER
   =============================== */

header {
  padding: 0;
  /*background-color: @color-swatch7;*/
}


.infoheader {
  display: block;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 15px 0px;
  z-index:2;
  float: left;
}

@media @tablet {
    .infoheader {
        float:left;
    }
}

.companyname a:hover {
  text-decoration: none;
}


/* COMPANY NAME */

.widget.companyname {
  display: block;
  float: left;
  margin-top: 9px;
}

.widget.companyname a {
  font-family:@font-swatch10-font-family;
  font-weight: @font-swatch10-font-weight;
  color:@font-swatch10-color;
  line-height:@font-swatch10-line-height;
  letter-spacing: @font-swatch10-letter-spacing;
  font-size: @font-swatch10-font-size;
}

/* LOGO */

.widget.logo {
  display: block;
  float: left;
  margin-right: 8px;
}

/* ===============================
   FOOTER
   =============================== */

footer {
  padding: 4em 0;
  background-color: @color-swatch2;
  min-height: 150px;
  color: @color-swatch1;
}

footer h1, footer h2, footer h3, footer h4 {
  color: @color-swatch1;
  padding-bottom: 20px;
}

footer p {
  font-family: @font-swatch5-font-family;
  color: lighten(@color-swatch5,10%);
  line-height:@font-swatch5-line-height;
  padding-bottom: 5px;
}

/* ===============================
   STANDARD NAVIGATION
   =============================== */

.widget.navigation {
}

.widget.navigation ul {
  padding: 0;
  margin: 20px 0 0;
}

.widget.navigation ul.align-center li
{
  text-align: center;
}

.widget.navigation ul.align-left li
{
  text-align: left;
}

.widget.navigation ul.align-right li
{
  text-align: right;
}

.widget.navigation ul li {
  float: left;
  display: block;
  padding-right: 40px;
}

.widget.navigation ul li a {
  display: block;
  font-family:@font-swatch6-font-family;
  font-size:@font-swatch6-font-size;
  font-weight: @font-swatch6-font-weight;
  color: @font-swatch6-color;
  line-height:@font-swatch6-line-height;
  letter-spacing: @font-swatch6-letter-spacing;
}

.widget.navigation ul li a:hover {
  text-decoration: none;
  color: @font-swatch6-color-hover;
}

/* ===============================
   EXTENDED NAVIGATION
   =============================== */

.widget.extendednavigation {
  z-index:1;
  float: right;
  position: relative;
  padding-top: 16px;
  max-width: 690px;
}

.widget.extendednavigation a.pull {
 top:-46px;
}

.widget.extendednavigation ul li a:hover {
  color: @font-swatch6-color-hover;
}

.widget.extendednavigation ul {
  float: left;
  padding: 0;
  margin: 0;
}

.widget.extendednavigation ul.align-center li
{
  text-align: center;
}

.widget.extendednavigation ul.align-left li
{
  text-align: left;
}

.widget.extendednavigation ul.align-right li
{
  text-align: right;
}

.widget.extendednavigation ul li {
  float: left;
  display: block;
  padding: 0;
}

.widget.extendednavigation ul li.selected a {
  color: @font-swatch6-color-hover;
}

.widget.extendednavigation ul li a, .widget.extendednavigation ul li.folder .text {
  display: block;
  padding: 14px 20px;
  font-family: @font-swatch6-font-family;
  font-size: @font-swatch6-font-size;
  font-weight: @font-swatch6-font-weight;
  letter-spacing: @font-swatch6-letter-spacing;
  color: @font-swatch6-color;
}

.widget.extendednavigation ul li a .text:hover {
    color: @font-swatch6-color-hover;
}

.widget.extendednavigation ul li.folder .text:hover {
  color: @font-swatch6-color-hover;
}

.widget.extendednavigation ul li:hover {
  background-color: transparent;
  border-radius: 0,0, 13px, 13px;
  -webkit-border-radius: 0,0, 13px, 13px;
  -moz-border-radius: 0,0, 13px, 13px;
  border-radius: 0,0, 13px, 13px;
}

.widget.extendednavigation ul li:hover .text {
  color: @font-swatch6-color;
}


.widget.extendednavigation ul li a:hover {
  text-decoration: none;
}

.widget.extendednavigation ul li.selected {
  color: @font-swatch6-color-hover;
}

.widget.extendednavigation ul li.folder {
  background-repeat: no-repeat;
  height: 100%;
  padding: 0 7px 0 0;
  cursor: pointer;
}

.widget.extendednavigation ul li.folder li:hover a:hover {
  color: @font-swatch6-color; 
}

.widget.extendednavigation li > ul {
  display: none;
}

.widget.extendednavigation li:hover > ul {
  display: block;
  width: 186px;
  background-color: @color-swatch1;
  border-radius: 0 0 13px 13px;
  -webkit-border-radius: 0 0 13px 13px;
  -moz-border-radius:  0 0 13px 13px;
  border-radius: 0 0 13px 13px;
  position: absolute;
  z-index: 500;
  padding: 0;
}

.widget.extendednavigation ul li:hover > ul li {
  display: block;
  width: 100%;
  border-top: 1px solid lighten(@color-swatch2,15%);
}

.widget.extendednavigation ul li:hover > ul li:first-child {
  padding-top: 4px;
}

.widget.extendednavigation ul li:hover > ul li:last-child {
  padding-top: 4px;
  border-radius: 0 0 13px 13px;
  -webkit-border-radius: 0 0 13px 13px;
  -moz-border-radius: 0 0 13px 13px;
  border-radius: 0 0 13px 13px;
}

.widget.extendednavigation ul li:hover > ul li:hover a:hover {
  color: @font-swatch6-color;
}

.widget.extendednavigation li:hover > ul li a {
  padding: 0;
}

/* EXTENDED NAVIGATION - INSIDE ZONE */

.main .widget.extendednavigation {
    max-width: 100%;
    width: 100%;
    float: none;
    padding: 20px 0px;
}

.main .widget.extendednavigation:before,
.main .widget.extendednavigation:after {
  content: " ";
  display: table;
}
.main .widget.extendednavigation:after {
  clear: both;
}
.main .widget.extendednavigation {
  *zoom: 1;
}


/* ===============================
   FEATURE
   =============================== */

.widget.feature .feature-bgimg {
  height: 600px; 
 }

.widget.feature .content {
  height: 600px;
  text-align: center;
  vertical-align: none;
}

.widget.feature .content .spare {
  width: 100%;
  margin: 0;
}

.widget.feature h3 {
  display: none;
}

/* FEATURE background */

.widget.feature h2, .widget.feature h3 {
  background-color: @color-swatch2; 
}

.widget.feature h2 {
  border-top: 5px solid darken(@color-swatch2,20%);
}


.widget.feature h3 span {
  margin-bottom: 20px;
}

.widget.feature h2 span, .widget.feature h3 span {
  display: inline-block;
  padding: 30px 10px 20px;
  max-width: 960px;
}

.widget.feature h3 span {
  padding: 2px 10px;
}

/* FEATURE TITLE */

.widget.feature h2 {
  font-family:@font-swatch8-font-family;
  font-size:@font-swatch8-font-size;
  font-weight: @font-swatch8-font-weight;
  line-height:@font-swatch8-line-height;
  color: @font-swatch8-color;
  letter-spacing: @font-swatch8-letter-spacing;

}

/* FEATURE STRAPLINE */

.widget.feature h3 {
  font-family:@font-swatch9-font-family;
  font-size: @font-swatch9-font-size;
  font-weight: @font-swatch9-font-weight;
  line-height:@font-swatch9-line-height;
  color: @font-swatch9-color;
  letter-spacing: @font-swatch9-letter-spacing;
  padding-bottom: 0;
}

/* FEATURE BUTTON */

.widget.feature button
{
  margin: 5em 0 1.8em;
  padding: 15px 25px;
  border: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 3px 0px darken(@color-swatch3,15%);
  -moz-box-shadow:    0px 3px 0px darken(@color-swatch3,15%); 
  box-shadow:         0px 3px 0px darken(@color-swatch3,15%); 
  font-family: @font-swatch7-font-family;
  font-size: @font-swatch7-font-size;
  font-weight:@font-swatch7-font-weight;
  background-color: @font-swatch7-background-color;
  color: @font-swatch7-color;
  text-decoration: none;
  letter-spacing: @font-swatch7-letter-spacing;
}

.widget.feature button:hover 
{
  background-color: @font-swatch7-background-color-hover;
  cursor: pointer;
}

.widget.feature button.btn.justifyleft
{
    text-align: left;
}

.widget.feature button.btn.justifycenter
{
    text-align: center;
}

.widget.feature button.btn.justifyright
{
    text-align: right;
}

.widget.feature button.btn.justifyfull
{
    text-align: justify;
}

.widget.feature button.btn.italic {
    font-style: italic;
}

.widget.feature button.btn.bold {
    font-weight: bold;
}

.widget.feature button span {
    vertical-align: center;
}

.widget.feature button i {
    margin-right: 5px;
}

/* ===============================
   FEATURE LAYOUTS
   =============================== */

/* LEFT ALIGN */

.widget.feature.align-left .content {
  width: 100%;
  text-align: left;
}

/* CENTER ALIGN */

.widget.feature.align-center .content {
  width: 100%;
  text-align: center;
}

/* RIGHT ALIGN */

.widget.feature.align-right .content {
  width: 100%;
  text-align: right;
}

/* BUTTON TOP RIGHT */

.widget.feature.btn-top-right .content {
  width: 100%;
  text-align: left;
}

.widget.feature.btn-top-right h2{
  vertical-align: top;
}

.widget.feature.btn-top-right button{
    vertical-align: top;
}

/* ===============================
   PAYPAL BUTTON
   =============================== */


.widget.paypalbuynow .widget.button.paypal {
  border: 1px solid darken(@color-swatch3,5%);
   -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 3px 0px darken(@color-swatch3,15%);
  -moz-box-shadow:    0px 3px 0px darken(@color-swatch3,15%); 
    box-shadow:         0px 3px 0px darken(@color-swatch3,15%);
  letter-spacing: 1px;
  text-shadow: none; 
  }


/* ===============================
   DROPBOX BUTTON
   =============================== */


.widget.dropbox button {
  border: 1px solid darken(@color-swatch3,5%);
   -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 3px 0px darken(@color-swatch3,15%);
  -moz-box-shadow:    0px 3px 0px darken(@color-swatch3,15%); 
    box-shadow:         0px 3px 0px darken(@color-swatch3,15%);
  letter-spacing: 1px;
  text-shadow: none; 
  }


/* ===============================
   BUTTON CSS
   =============================== */

.widget.button {
    padding: 4px 0;
}

.widget.button button
{
  padding: 10px 15px;
  margin: 1em auto;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
      -webkit-box-shadow: 0px 3px 0px darken(@color-swatch3,15%);
    -moz-box-shadow:    0px 3px 0px darken(@color-swatch3,15%); 
    box-shadow:         0px 3px 0px darken(@color-swatch3,15%); 
  font-family: @font-swatch7-font-family;
  font-size: @font-swatch7-font-size;
  font-weight:@font-swatch7-font-weight;
  background-color: @font-swatch7-background-color;
  color: @font-swatch7-color;
  text-decoration: none;
  letter-spacing: 1px;
  text-shadow: none;
  border: 1px solid darken(@color-swatch3,5%);
}

.widget.button button:hover 
{
  background-color: @font-swatch7-background-color-hover;
  cursor: pointer;
}


/* JUSTIFY */

.widget.button button.btn.justifyleft
{
    text-align: left;
}

.widget.button button.btn.justifycenter
{
    text-align: center;
}

.widget.button button.btn.justifyright
{
    text-align: right;
}

.widget.button button.btn.justifyfull
{
    text-align: justify;
}

.widget.button button.btn.italic {
    font-style: italic;
}

.widget.button button.btn.bold {
    font-weight: bold;
}

.widget.button span {
    vertical-align: center;
}

.widget.button i {
    margin-right: 5px;
}

/* ===============================
   CONTENT CSS
   =============================== */


.widget.content
{
    padding: 0;
    overflow: hidden;
}

.widget.content span.expand
{
    font-family: @font-swatch3-font-family;
    background-color: @color-swatch3;
    color: @font-swatch7-color;
    font-size: @font-swatch5-font-size;
    padding: 4px 8px;
    margin: 4px 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
}

.widget.content span.expand:hover,
.widget.content span.expand:focus
{
    cursor: pointer;
    background-color: darken(@color-swatch3,5%);
}

/* ===============================
   IMAGE WIDGET
   =============================== */

.widget.image img
{
    display:block;
    max-width: 100%;
    border: 0;
    border-width: 0;
}

.widget.image {
}

.widget.image span.image-title {
    display: block;
    margin:10px 0 0;
    font-family: @font-swatch4-font-family;
    font-weight: @font-swatch4-font-weight;
    font-size: @font-swatch4-font-size;
    color:  @font-swatch5-color;
    text-decoration: none;
    line-height: @font-swatch4-line-height;
}

.widget.image a:hover {
  text-decoration: none;
}

.widget.image span.image-title:hover {
  color: @color-swatch3;
}

.widget.image span.image-description {
    display: block;
    margin:0 0 10px;
    font-family: @font-swatch5-font-family;
    font-weight: @font-swatch5-font-weight;
    font-size: @font-swatch5-font-size;
    line-height: @font-swatch5-line-height;
    color: @font-swatch5-color;
}

/* ===============================
   GALLERY WIDGET
   =============================== */

.widget.gallery
{
}

.widget.gallery ul {
    display:block;
    margin: 0;
    padding:0px;
    list-style: none;
}

.widget.gallery li {
    float: left;
    position: relative;
    width: 33.3%;
    padding-bottom: 33%;
}

.widget.gallery li  span.inner {
    background-position:center center;
    background-repeat:no-repeat;
    background-color: @color-swatch1;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.widget.gallery ul li.one-to-one span.inner
{
    background-size:100% 100%;
}

.widget.gallery ul li.portrait span.inner
{
    background-size:100% auto;
}

.widget.gallery ul li.landscape span.inner
{
    background-size:auto 100%;
}

.widget.gallery li span.inner {
    position: absolute;
    left: 5px;
    right: 5px;
    top: 0px;
    bottom: 16px;
    overflow: hidden;
    background-color: transparent;
}

.widget.gallery li span.inner img {
    display:none;
}

.widget.gallery ul:before,
.widget.gallery ul:after {
  content: " ";
  display: table;
}
.widget.gallery ul:after {
  clear: both;
}
.widget.gallery ul {
  *zoom: 1;
}

.widget.gallery li span.inner .title, .widget.gallery li span.inner .description {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: -310px;
    max-height: 284px;
    background:@color-swatch1;
    background: @color-swatch6;
    padding: 10px;
    text-align: center;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    font-family:@font-swatch5-font-family;
    font-size:@font-swatch5-font-size;
    font-weight: @font-swatch5-font-weight;
    line-height:@font-swatch5-line-height;
    color: #FFFFFF;
    letter-spacing: @font-swatch5-letter-spacing;
}
.widget.gallery li span.inner:hover .title {
   margin-bottom: 0;
}

.widget.gallery li span.inner .description {
  display: none;
}

.widget.gallery li span.inner a {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

/* Lightbox */

.lb-data .lb-caption, .lb-data .lb-number {
  font-family:@font-swatch5-font-family;
  font-size:@font-swatch5-font-size;
  font-weight: @font-swatch5-font-weight;
  line-height:@font-swatch5-line-height;
  color:lighten(@font-swatch5-color,50%);
}

.lb-data .lb-number {
  font-size:bkscale(@font-swatch5-font-size,0.9);
}


/* ===============================
   DIVIDER WIDGET
   =============================== */

.widget.line {
    padding: 20px 0;
}

hr.line {
   background-color: lighten(@color-swatch5,30%);
   height: 1px;
   width: 100%;
   border: none;
}

hr.line.align-left {
   margin: 20px auto 20px 0px;
}

hr.line.align-center {
   margin: 20px auto;
}

hr.line.align-right {
   margin: 20px 0px 20px auto;
}


/* ===============================
   CLICK TO CALL WIDGET
   =============================== */

.widget.clicktocall {
    padding: 20px 0;
}

.widget.clicktocall a {
  margin: 2.2em auto;
  border: none;
  font-family: @font-swatch5-font-family;
  font-size: @font-swatch5-font-size;
  font-weight:@font-swatch5-font-weight;
  color: @font-swatch5-color;
  text-decoration: none;
  cursor: default;
}


.widget.clicktocall a.justifyleft
{
    text-align: left;
}

.widget.clicktocall a.justifycenter
{
    text-align: center;
}

.widget.clicktocall a.justifyright
{
    text-align: right;
}

.widget.clicktocall a.justifyfull
{
    text-align: justify;
}

.widget.clicktocall a.italic {
    font-style: italic;
}

.widget.clicktocall a.bold {
    font-weight: bold;
}

/* ===============================
   REDIRECT WIDGET
   =============================== */

.widget.redirecttodesktop {
    padding: 8px 0;
}

.widget.redirecttodesktop a {
    padding-right: 30px;
    padding-top: 2px;
    background-image: image('/images/desktop.png');
    background-repeat: no-repeat;
    background-position: right center;
    font-size: 12px;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
    text-decoration: none;
    cursor: pointer;
    color: @font-swatch5-color;
    font-family: @font-swatch5-font-family;

}

.widget.redirecttodesktop a:hover, .desktop a:active {
    background-image: image('/images/desktop.png');
    background-repeat: no-repeat;
    background-position: right center;
    cursor: pointer;
    text-decoration: underline;
}

/* ===============================
   TWITTER WIDGET
   =============================== */


.widget.twitter {
}


.widget.twitter a:hover {
    text-decoration: underline;
}

.widget.twitter ul {
    margin: 0;
    padding: 0;
}

.widget.twitter ul li {
    border-bottom: none;
    list-style: none;
    font-family: @font-swatch5-font-family;
    font-size: @font-swatch5-font-size;
    color: @font-swatch5-color;
    padding: 30px 0;
    border-bottom: 1px solid lighten(@color-swatch5,45%);
}

.widget.twitter ul li:first-child {
    border-top: 1px solid lighten(@color-swatch5,45%);
}

.widget.twitter ul li:last-child {
    padding: 30px 0;
}

.widget.twitter .twitter-profile-pic {
    float: left;
    margin-right: 20px;
}

.widget.twitter .twitter-profile-pic a img {
   border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.widget.twitter .twitter-content span.bk-full-name {
    font-family: @font-swatch4-font-family;
    color: @color-swatch3;
    font-weight: bold;
}

.widget.twitter span, .widget.twitter time {
 color: @color-swatch5;
}

.widget.twitter a {
   color: @color-swatch3;
   text-decoration: none;
}


/* ===============================
   CONTACT FORM WIDGET
   =============================== */

.widget.contactform form {
    display: block;
    margin-bottom: 20px;
    background-color: none;
}

.widget.contactform fieldset {
    border: none;
    padding: 0;
}

.widget.contactform fieldset label {
    width: 100%;
    float: left;
    font-family:@font-swatch4-font-family;
    font-size:@font-swatch4-font-size;
    font-weight:@font-swatch4-font-weight;
    line-height:@font-swatch4-line-height;
    color:@font-swatch4-color;
    letter-spacing: @font-swatch4-letter-spacing;
}

.widget.contactform fieldset input {
    height: 40px;
    width: 100%;
    border: 1px solid lighten(@color-swatch5,30%);
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-family: @font-swatch5-font-family;
    font-size: @font-swatch5-font-size;
    color: @font-swatch5-color;
    text-indent: 8px;
    margin-top: 6px;
    margin-bottom: 30px;
    padding: 0;
}

.widget.contactform fieldset textarea {
    height: 100px;
    width: 100%;
    border: 1px solid lighten(@color-swatch5,30%);
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-family: @font-swatch5-font-family;
    font-size: @font-swatch5-font-size;
    color: @font-swatch5-color;
    text-indent: 8px;
    padding-top: 14px;
    margin-top: 6px;
    margin-bottom: 20px;
    resize: none;
    padding: 0;
}

textarea {
  background-color: @color-swatch1;
}


.widget.contactform fieldset button.btn {
    padding: 10px 15px;
    margin: 0;
    border: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 3px 0px darken(@color-swatch3,15%);
    -moz-box-shadow:    0px 3px 0px darken(@color-swatch3,15%); 
    box-shadow:         0px 3px 0px darken(@color-swatch3,15%); 
    font-family: @font-swatch7-font-family;
    font-size: @font-swatch7-font-size;
    font-weight:@font-swatch7-font-weight;
    background-color: @font-swatch7-background-color;
    color: @font-swatch7-color;
    text-decoration: none;
    letter-spacing: @font-swatch7-letter-spacing;
    text-shadow: none;
}
  
.widget.contactform fieldset button.btn:hover {
    background-color: @font-swatch7-background-color-hover;
    cursor: pointer;
}

.widget.contactform fieldset button.btn.justifyleft
{
    text-align: left;
}

.widget.contactform fieldset button.btn.justifycenter
{
    text-align: center;
}

.widget.contactform fieldset button.btn.justifyright
{
    text-align: right;
}

.widget.contactform fieldset button.btn.justifyfull
{
    text-align: justify;
}

.widget.contactform fieldset button.btn.italic {
    font-style: italic;
}

.widget.contactform fieldset button.btn.bold {
    font-weight: bold;
}

/* ===============================
  BLOG
   =============================== */

.widget {
    &.bloglistposts {
        .blog-post-item {
            border-bottom: 1px dotted @color-swatch5;
        }

    }
}

.blog-post-item {
    margin: 1.5em 0;
    padding-bottom: 1em;
    h2 {
        a {
            font-family: @font-swatch2-font-family;
            font-size: @font-swatch2-font-size;
            font-weight: @font-swatch2-font-weight;
            line-height: @font-swatch2-line-height;
            color: @font-swatch2-color;
            letter-spacing: @font-swatch2-letter-spacing;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.blog-post-metadata {
    background-color: transparent;
    background-image: none;
    margin-top: 0;
    text-align: left;
}

.blog-list-footer {
    background-color: transparent;
    background-image: none;
}

.blog-post-more-link {
    float: left;
    width: 100%;
}

/* BLOG SEARCH */
.blogsearch {
    form {
        button {
            padding: 10px;
            color: @font-swatch7-color;
            font-size: @font-swatch6-font-size;
            font-weight: @font-swatch6-font-weight;
            line-height: @font-swatch6-line-height;
            background-color: @font-swatch7-background-color;
            border: none;
        }
    }
}


/* ===============================
   SIGNUPFORM WIDGET
   =============================== */

.widget.signupform fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

.widget.signupform fieldset label {
    width: 100%;
    float: left;
    font-family:@font-swatch4-font-family;
    font-size:@font-swatch4-font-size;
    font-weight:@font-swatch4-font-weight;
    line-height:@font-swatch4-line-height;
    color:@font-swatch4-color;
    letter-spacing: @font-swatch4-letter-spacing;
}

.widget.signupform fieldset input {
    height: 40px;
    width: 73%;
    border: 1px solid lighten(@color-swatch5,30%);
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-family: @font-swatch5-font-family;
    font-size: @font-swatch5-font-size;
    color: @font-swatch5-color;
    text-indent: 8px;
    margin-top: 6px;
    margin-bottom: 30px;
    padding: 0;
    float:left;
    background-color: @color-swatch1;
}

.widget.signupform fieldset button.btn {
    width: 24%;
    height: 40px;
    float:right;
    padding: 1px;
    margin-top: 6px;
    border: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 3px 0px darken(@color-swatch3,15%);
    -moz-box-shadow:    0px 3px 0px darken(@color-swatch3,15%); 
    box-shadow:         0px 3px 0px darken(@color-swatch3,15%); 
    font-family: @font-swatch7-font-family;
    font-size: @font-swatch7-font-size;
    font-weight:@font-swatch7-font-weight;
    background-color: @font-swatch7-background-color;
    color: @font-swatch7-color;
    text-decoration: none;
    letter-spacing: 1px;
    text-shadow: none;

}

.widget.signupform fieldset button.btn:hover {
    background-color: @font-swatch7-background-color-hover;
    cursor: pointer;
}


/* ===============================
   TWEET THIS WIDGET
   =============================== */

.widget.tweet {
   padding: 14px 0; 
}

.widget.tweet a {
  padding: 8px 13px 8px 38px;
  margin: 0;
  background-repeat: no-repeat;
  background-position: 13px 7px;
  margin: 2.2em auto;
  border: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
        -webkit-box-shadow: 0px 3px 0px darken(@color-swatch3,15%);
    -moz-box-shadow:    0px 3px 0px darken(@color-swatch3,15%); 
    box-shadow:         0px 3px 0px darken(@color-swatch3,15%); 
  font-family: @font-swatch7-font-family;
  font-size:1em;
  font-weight:@font-swatch7-font-weight;
  background-color: @font-swatch7-background-color;
  color: @font-swatch7-color;
  text-decoration: none;
  text-shadow: 0 1px 0px rgba(0,0,0,0.3);
}

.widget.tweet a:hover, .tweet a:active {
  padding: 8px 13px 8px 38px;
  cursor: pointer;
  background-color: @font-swatch7-background-color-hover;
  cursor: pointer;
}


/* ===============================
   SLIDESHOW WIDGET
   =============================== */

.widget.responsiveslideshow {
    .slideshow-image-list,
    .slideshow-widget {
        min-height: 450px;
        @media @tablet {
            min-height: 350px;
        }
        @media @mobile {
            min-height: 280px;
            height: 280px;
        }
    }
    .title,
    .description {
        display: block;
        font-size: 15px;
        padding: 5px 0 5px 10px;
    }
    .description {
      padding-top: 0;
    }
    .content-wrapper {
        background: rgba(0,0,0,0.5);
    }
    .slideshow-widget {
        /* Arrows */
        .btn-prev,
        .btn-next {
            font-size: 0;
            z-index: 11;
            text-indent: -99999px;
            width: 40px;
            height: 40px;
            background: rgba(0,0,0,0.5);
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            @media @mobile {
                width: 30px;
                height: 30px;
            }
        }
        .btn-prev {
            &:after {
                content: "\2190";
                color: #fff;
                top: 4px;
                @media @mobile {
                    top: 1px;
                }
            }
        }
        .btn-next {
            &:after {
                content: "\2192";
                color: #fff;
                top: 4px;
                @media @mobile {
                    top: 1px;
                }
            }
        }
        /* Play Button */
        .btn-play {
            background: rgba(0,0,0,0.5);
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            &:after {
                color: #fff;
                letter-spacing: -4px;
                top: 0;
            }
        }
    }
    /* Slideshow Controls */
    .slideshow-widget-controls {
        .dot {
            width: 11px;
            height: 11px;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            &.selected {
                background-color: @color-swatch5;
            }
        }
    }
}

.widget.responsiveslideshow .btn-play:after {
    font-size:20px;
}

.widget.responsiveslideshow .slideshow-widget .btn-play {
    background: rgba(0,0,0,0.5);
    font-size: 0;
    text-indent: -99999px;
    position: absolute;
    cursor: pointer;
    z-index: 12;
    width: 42px;
    height: 42px;
    top: -5%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    @media @mobile {
        width: 30px;
        height: 30px;
    }
}

.widget.responsiveslideshow .slideshow-widget .btn-play:after {
    top:-7px;
    @media @mobile {
        top: -12px;
    }
}

/* ===============================
   LINKED IN
   =============================== */

.container-outer .li-profile-container {
  padding: 0;
  margin: 0;
}

.no-profile {
  font-family:@font-swatch5-font-family;
  font-size:@font-swatch5-font-size;
  font-weight: @font-swatch5-font-weight;
  line-height:@font-swatch5-line-height;
  color:@font-swatch5-color;
  letter-spacing: @font-swatch5-letter-spacing;

}

/* ===============================
   PROFILE WIDGETS
   =============================== */

.widget.profile span {
  display: block;
  font-family: @font-swatch5-font-family;
  font-size: @font-swatch5-font-size;
  line-height: @font-swatch5-line-height;
  color: @font-swatch5-color;
}

footer .widget.profile span {
  display: block;
  font-family: @font-swatch5-font-family;
  font-size: @font-swatch5-font-size;
  line-height: @font-swatch5-line-height;
  color: darken(@color-swatch5,10%);
}

/* EMAIL IN PROFILE DATA */

footer .widget.profile a {
  color: @color-swatch1;
}


/*  LATEST TWEET IN FOOTER */

.widget.profile .twitter a {
   color: @color-swatch4;
   font-size:@font-swatch5-font-size;
   text-decoration: none;
}

.widget.profile .twitter a:hover {
    text-decoration: underline;
}

.widget.profile .twitter {
    padding: 0;
    margin: 0;
}

.widget.profile .twitter li {
    border-bottom: none;
    list-style: none;
    font-family: @font-swatch5-font-family;
    font-size: @font-swatch5-font-size;
    color: @font-swatch5-color;
    padding: 0;
    border-bottom: none;
}

.widget.profile .twitter .twitter-profile-pic {
    float: left;
    margin-right: 20px;
    height: 120px;
}

.widget.profile .twitter a img {
    -webkit-border-radius: 5px;
    -moz-border-radius:  5px;
    border-radius: 5px;
}

.widget.profile .twitter .twitter-content span.bk-full-name {
    font-family: @font-swatch5-font-family;
    color: @color-swatch1;
    font-weight: bold;
}

.widget.profile .twitter .twitter-content a:hover {
  text-decoration: underline;
  color: @color-swatch1;
}

.widget.profile .twitter time, .widget.profile .twitter span, .widget.profile .twitter span a {
color: @color-swatch1;
}

footer .widget.profile .twitter span {
  display: inline;
}



/* SOCIAL ICONS - PROFILE DATA */


.widget.profile .bk-profile-socialicons {
  text-align: left;
}

.widget.profile .bk-profile-socialicons span a {
  margin-bottom: 6px;
}


.widget.profile .bk-profile-socialicons span {
    display: inline;
    padding: 0;
    font-size:1em;
    font-family:@font-swatch7-font-family;
}

.widget.profile .bk-profile-socialicons span a, .widget.socialicons a {
    text-decoration: none;
    text-indent: -9999px;
    white-space: nowrap;
    height: 32px;
    width: 32px;
    background-color: @color-swatch5;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}

.widget.profile .bk-profile-socialicons span a:hover {
 background-color: darken(@color-swatch5,5%);
}


.bk-profile-socialicons span a {
    display: inline-block;
    margin-right: 6px;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 6px;
    background-size: 18px;
}


/* ===============================
   SOCIAL BAR WIDGET
   =============================== */

footer .widget.socialicons {
    padding: 0 15px;
    font-size:1em;
    font-family:@font-swatch7-font-family;
}


.widget.socialicons a:hover {
 background-color: darken(@color-swatch5,10%);
 }

.widget.socialicons span a {
    display: inline-block;
    margin-right: 6px;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 6px;
    background-size: 18px;
}


/* SVG ICONS */

.svg .widget.socialicons span.bk-socialicons-twitter a,
.svg .widget.profile .bk-profile-socialicons span.bk-socialicons-twitter a {
    background-image: image('/images/social/socialicons-twitter.svg');
}

.svg .widget.socialicons span.bk-socialicons-linkedin a,
.svg .widget.profile .bk-profile-socialicons span.bk-socialicons-linkedin a {
    background-image: image('/images/social/socialicons-linkedin.svg')
}

.svg .widget.socialicons span.bk-socialicons-facebook a,
.svg .widget.profile .bk-profile-socialicons span.bk-socialicons-facebook a {
    background-image: image('/images/social/socialicons-facebook.svg')
}

.svg .widget.socialicons span.bk-socialicons-rss a,
.svg .widget.profile .bk-profile-socialicons span.bk-socialicons-rss a {
    background-image: image('/images/social/socialicons-rss.svg')
}

.svg .widget.socialicons span.bk-socialicons-googleplus a,
.svg .widget.profile .bk-profile-socialicons span.bk-socialicons-googleplus a {
    background-image: image('/images/social/socialicons-googleplus.svg')
}

.svg .widget.socialicons span.bk-socialicons-youtube a,
.svg .widget.profile .bk-profile-socialicons span.bk-socialicons-youtube a {
    background-image: image('/images/social/socialicons-youtube.svg')
}

/* PNG ICONS */

.widget.socialicons span.bk-socialicons-twitter a,
.widget.profile .bk-profile-socialicons span.bk-socialicons-twitter a {
    background-image: image('/images/social/socialicons-twitter.png');
}

.widget.socialicons span.bk-socialicons-linkedin a,
.widget.profile .bk-profile-socialicons span.bk-socialicons-linkedin a {
    background-image: image('/images/social/socialicons-linkedin.png')
}

.widget.socialicons span.bk-socialicons-facebook a,
.widget.profile .bk-profile-socialicons span.bk-socialicons-facebook a {
    background-image: image('/images/social/socialicons-facebook.png')
}

.widget.socialicons span.bk-socialicons-rss a,
.widget.profile .bk-profile-socialicons span.bk-socialicons-rss a {
    background-image: image('/images/social/socialicons-rss.png')
}

.widget.socialicons span.bk-socialicons-googleplus a,
.widget.profile .bk-profile-socialicons span.bk-socialicons-googleplus a {
    background-image: image('/images/social/socialicons-googleplus.png')
}

.widget.socialicons span.bk-socialicons-youtube a,
.widget.profile .bk-profile-socialicons span.bk-socialicons-youtube a {
    background-image: image('/images/social/socialicons-youtube.png')
}



/* SINGLE EMAIL FORM IN FOOTER*/


.widget.profile fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

.widget.profile fieldset label {
    width: 100%;
    float: left;
    font-family: @font-swatch5-font-family;
    color: lighten(@color-swatch5,10%);
    line-height:@font-swatch5-line-height;
    letter-spacing: @font-swatch4-letter-spacing;
}

.widget.profile fieldset input {
    height: 40px;
    width: 100%;
    background-color: @color-swatch1;
    border:none;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-family: @font-swatch5-font-family;
    font-size: @font-swatch5-font-size;
    color: @font-swatch5-color;
    text-indent: 8px;
    margin-top: 6px;
    margin-bottom: 10px;
    padding: 0;
    float:left;
}

.widget.profile fieldset button.btn {
    width: auto;
    height: 40px;
    float:left;
    padding: 10px 15px;
    margin-top: 6px;
    border: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 3px 0px darken(@color-swatch3,15%);
    -moz-box-shadow:    0px 3px 0px darken(@color-swatch3,15%); 
    box-shadow:         0px 3px 0px darken(@color-swatch3,15%); 
    font-family: @font-swatch7-font-family;
    font-size: @font-swatch7-font-size;
    font-weight:@font-swatch7-font-weight;
    background-color: @font-swatch7-background-color;
    color: @font-swatch7-color;
    text-decoration: none;
    letter-spacing: 1px;
    text-shadow: none;
}

.widget.profile fieldset button.btn:hover {
    background-color: @font-swatch7-background-color-hover;
    cursor: pointer;
}


/* ===============================
   MAP WIDGET
   =============================== */

.widget.map {
  border: 1px solid lighten(@color-swatch5,30%);
}


/* ===============================
   IPAD WIDTH
   =============================== */

@media only screen and (max-width: 768px) {

  header {
    padding: 0;
    border-bottom: 0;
  }

  /* DEFAULT PAGE TYPE */

  .bk-pt-default header {
    border-bottom: none;
  }

   .bk-pt-default .widget.extendednavigation {
    border-top: 1px solid lighten(@color-swatch2,15%);
  }


  .companyheader {
    width: 100%;
    display: block;
    margin: 0 auto;
    padding: 10px 0;
  }

  .widget.companyname {
    margin-top:14px;
  }

  .widget.companyname a {
    font-size:bkscale(@font-swatch10-font-size, 0.8);
    line-height: bkscale(@font-swatch10-line-height,0.8);
  }

  /* NAV */

  .widget.extendednavigation {
    max-width: 100%;
    width: 100%;
    padding: 0;
    margin-top: 0;
  }

  .widget .extendednavigation {
    display: block;
    float: left;
    width: 100%;
  }

  #page-zones__template-widgets__extendednavigation-navigationheader {
    overflow: visible;
  }

  /* NAV */

  
 .widget .extendednavigation ul {
    width: 100%;
    display: none;
    margin: 0;
    border-top: 1px solid lighten(@color-swatch2,15%);
  }

  .widget.extendednavigation ul li {
  border-bottom: 1px solid lighten(@color-swatch2,15%);
  padding: 16px 0;
  }

  .widget.extendednavigation ul li:hover .text {
    color: @font-swatch6-color-hover;
  }

  .widget.extendednavigation ul li:hover {
    border-bottom: 1px solid lighten(@color-swatch2,15%);
  }

  .widget.extendednavigation ul li.folder {
    padding: 16px 0;
  }

  .widget .extendednavigation li {
    width: 100%;
    padding: 0;
  }

  .widget.extendednavigation ul li a, .widget.extendednavigation ul li.folder .text {
      padding: 5px 0;
      margin: 0;
  }

  .widget.extendednavigation ul li > ul {
      display: none!important;
  }

  .widget.extendednavigation ul li:hover > ul {
      display: block!important;
      width: 100%;
      margin: 16px 0;
      padding: 0;
  }

  .widget.extendednavigation ul li:hover > ul > li {
    border-bottom: none;
  }

  .widget.extendednavigation ul li:hover > ul > li .text {
    color: @font-swatch6-color;
  }

  .widget.extendednavigation ul li:hover > ul > li:hover .text {
    color: @font-swatch6-color-hover;
  }

  .widget.extendednavigation ul li.folder {
    border-radius: 0;
  }

  .widget.extendednavigation ul li:hover > ul li:first-child {
    padding-top: 16px;
    border-top: none;
  }

    .widget.extendednavigation ul li:hover > ul li:last-child {
    padding-top: 16px;
  }

  .widget.extendednavigation li:hover > ul > li > a {
    padding-left: 10px;
  }


  /* OTHER */

  .main {
    padding: 20px 0;
  }

  section.intro {
    display: none;
  }

  /* FEATURE */

   .widget.feature .feature-bgimg {

    height: 300px; /* should be in media query*/
    vertical-align: none;
   }

  .widget.feature .content {
    height: 300px;
    /*padding: 3em 0;*/
  }

  .widget.feature h2 span, .widget.feature h3 span {
    padding: 20px 10px 10px;
  }

  .widget.feature h2 {
    font-size:bkscale(@font-swatch8-font-size, 0.6);
    line-height: bkscale(@font-swatch8-line-height, 0.7);
  }

  .widget.feature h3 {
    font-size:bkscale(@font-swatch9-font-size, 0.8);
    line-height: bkscale(@font-swatch8-line-height, 0.85);
  }

  .widget.feature button {
    margin: 1em 0;
    font-size: .7em;
  }

   /* GALLERY */

  .widget.gallery li span.inner .title, .widget.gallery li span.inner .description {
    font-size:bkscale(@font-swatch5-font-size,0.9);
    line-height:bkscale(@font-swatch5-line-height,0.9);
  }


  .widget.gallery ul.gallery-widget li
  {
    width: 50%;
    padding-bottom: 50%;
  }

}

/* ===============================
   IPHONE WIDTH
   =============================== */

@media only screen and (max-width: 480px) {

  header {
    padding-bottom: 0;
  }

  /* COMPANY HEADER */

  .widget.companyname {
   max-width: 230px;
  }

  .widget.companyname a {
    font-size:bkscale(@font-swatch10-font-size, 0.7);
    line-height: bkscale(@font-swatch10-line-height,0.7);
  }


  .widget.feature .feature-bgimg {
    height: 220px; /* should be in media query*/
   }

  .widget.feature .content {
    height: 220px;
  }

  .widget.feature h2 span, .widget.feature h3 span {
    padding: 13px;
  }

  .widget.feature h2 {
    font-size: bkscale(@font-swatch8-font-size, 0.6);
    line-height :bkscale(@font-swatch8-line-height, 0.63);
    padding-bottom: 4px;
  }

  .widget.feature h3 {
    font-size: bkscale(@font-swatch9-font-size, 0.7);
    line-height :bkscale(@font-swatch9-line-height, 0.7);
  }

/* ===============================
   CLICK TO CALL - ONLY SHOWS IN IPHONE
   =============================== */

  .widget.clicktocall {
     display: block;
   }

  .widget.clicktocall a {
  background-image: image('/images/ic-desktop-call-mob.png');
  background-color: @font-swatch7-background-color;
  background-position: 10px;
  background-repeat:no-repeat;
  padding: 10px 10px 10px 38px;
  margin: 2.2em auto;
  border: none;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
        -webkit-box-shadow: 0px 3px 0px darken(@color-swatch3,15%);
    -moz-box-shadow:    0px 3px 0px darken(@color-swatch3,15%); 
    box-shadow:         0px 3px 0px darken(@color-swatch3,15%); 
  font-family: @font-swatch7-font-family;
  font-size: @font-swatch7-font-size;
  font-weight:@font-swatch7-font-weight;
  color: @font-swatch7-color;
  text-decoration: none;
  letter-spacing: 1px;
  text-shadow: 0 1px 0px rgba(0,0,0,0.3);
}

.widget.clicktocall a:hover {
  background-color: @font-swatch7-background-color-hover;
  background-position: 10px;
  color: @font-swatch7-color;
  padding: 10px 10px 10px 38px;
  cursor: pointer;
  text-decoration: none;
}

  .widget.clicktocall a.justifyleft {
    text-align: left;
  }

  .widget.clicktocall a.justifycenter {
    text-align: center;
  }

  .widget.clicktocall a.justifyright {
    text-align: right;
  }

  .widget.clicktocall a.justifyfull {
    text-align: justify;
  }

  .widget.clicktocall a.italic { 
    font-style: italic;
  }

  .widget.clicktocall a.bold {
    font-weight: bold;
  }

   /* GALLERY */

  .widget.gallery li span.inner .title, .widget.gallery li span.inner .description {
    max-height: 150px;
  }

  .widget.gallery p
  {
    padding: 10px;
  }


}

@media only screen and (min-width: 1140px) {
  .wrapper {
    width: 960px; /* 1140px - 10% for margins */
    margin: 0 auto;
  }
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
